<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$TAB_TITLE$</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="bg-boxColor justify-evenly flex m-2 bg-slate-700 h-20 p-5 border-4 border-blue-600 outline outline-blue-400 text-2xl">
        <a href="/" class="self-center hover:underline">Home</a>
    
        <a href="/javascript" class="self-center hover:underline">JavaScript</a>
        
        <a href="/node" class="self-center hover:underline">Node</a>

        <a href="/express" class="self-center hover:underline">Express</a>
        
    </nav>